body {
    margin: 0;
    font-family: "Segoe UI", "Roboto", "Ubuntu", "Canterell", "Fira Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: "Hack", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
